.course-accordion {

  >p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  article {
    border: 1px solid #E4E7EC;
    border-radius: 8px;

    &:hover {
      background-color: #babac8;
    }
  }

  article.opened {
    accordion-body-wrapper {
      grid-template-rows: 1fr;
    }

    accordion-title {
      padding-bottom: 12px;
    }

    accordion-title img {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  h2 {
    font-size: 16px;
    line-height: 1.5;
  }

  li {
    list-style-type: disc;
    list-style-position: inside;
  }

  &__column {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  accordion-title {
    display: block;
    padding: 20px 60px 20px 20px;
    position: relative;
    transition: 0.3s;

    cursor: pointer;
  }

  accordion-title img {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  accordion-body {
    font-size: 16px;
    color: #475467;

    padding: 0 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  accordion-body a {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    font-weight: 600;
    color: #2eb8c5;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 2px;
      text-decoration-thickness: 1.5px;
    }
  }

  accordion-body-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.6s;
  }

  hidden-content {
    display: block;
    min-height: 0;
    overflow: hidden;
  }

  .tag {
    float: left;
  }
}