.button {
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid transparent;

  font-size: 16px;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  img {
    transition: 0.3s;
  }
}

.button[disabled],
.button.--disabled {
  cursor: unset;
  opacity: 0.4;
}

.button-play {
  font-size: 14px;
  color: #6941C6;
  background-color: #F9F5FF;

  &:hover img {
    transform: rotate(360deg);
  }
}

.button-blue,
.button-course-continue,
.button-lesson-test,
.button-lesson-next {
  color: white;
  background-color: #7F56D9;

  svg {
    stroke: #F9FAFB;
  }

  &:not([disabled]):hover {
    opacity: 0.6;
  }
}

.button-gray,
.button-lesson-prev {
  border: 1px solid #E4E7EC;
  background-color: #F9FAFB;
  color: #344054;

  svg {
    stroke: #344054;
  }

  &:not([disabled]):hover {
    opacity: 0.6;
  }
}

.button-outline {
  border: 1px solid #D0D5DD;
  background-color: unset;
  text-wrap: nowrap;

  &:hover {
    background-color: #d0d5dd4d;
  }
}

.button-sort {
  border: 1px solid #D0D5DD;
  background-color: unset;
  text-wrap: nowrap;

  width: 220px;
  justify-content: space-between;

  &:hover {
    background-color: #d0d5dd4d;
  }
}

.button-filter {
  background-color: #F9F5FF;
  color: #6941C6;
  text-wrap: nowrap;

  &:hover {
    opacity: 0.7;
  }
}

.tag {
  padding: 2px 8px;
  border-radius: 100px;
  margin-right: 8px;
  margin-top: 1px;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;
  text-wrap: nowrap;

  &--passed {
    color: #027A48;
    background-color: #ECFDF3;
  }

  &--in-process {
    color: #B54708;
    background-color: #FFFAEB;
  }

  &--new {
    color: #B42318;
    background-color: #FEF3F2;
  }

  &--blue {
    font-size: 14px;
    color: #175CD3;
    background-color: #EFF8FF;
  }

  &--red {
    font-size: 14px;
    color: #C01048;
    background-color: #fff1f3;
  }

  &--school {
    font-size: 14px;
    color: #c4320a;
    background-color: #fff6ed;
  }
}