.course-overall {
  padding-top: 32px;
  padding-bottom: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    gap: 8px;
  }

  &__right {
    display: flex;
    gap: 8px;
  }

  course-info {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 12px;
    font-weight: 600;
    color: #475467;
  }
}