.course-text {
  font-size: 16px;
  line-height: 1.5;

  h1 {
    font-size: 24px;
    font-weight: 600;
    color: #101828;
    margin-bottom: 12px;
  }

  course-beginning {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #6941C6;
    margin-bottom: 12px;
  }

  br {
    content: "";
    display: block;
    height: 12px;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    list-style-type: disc;
    list-style-position: inside;
  }

  @media (max-width: $forMobile) {
    .button-gray span {
      display: none;
    }

    &.mobile-hidden {
      display: none;
    }

    &.mobile-shown {
      display: block;
    }
  }
}

.course-buttons {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-top: 32px;
}