.left-panel {
  width: 300px;

  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9;
  max-height: 100vh;

  @media (max-width: 1100px) {
    width: 250px;
  }

  @media (max-width: 900px) {
    width: 300px;

    transform: translateX(-100%);
    transition: 0.5s;

    &.active {
      transform: translateX(0);
    }
  }

  &__trigger {
    display: none;

    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #e4e7ec;

    position: absolute;
    top: 32px - 4px;
    left: 100%;
    z-index: 11;

    img {
      height: 24px;
      transform: rotate(180deg);
    }

    @media (max-width: 900px) {
      display: flex;
    }
  }

  &.active {
    transform: translateX(0);
  }

  &.active .left-panel__trigger img {
    transform: rotate(0);
  }

  &__content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 32px 16px;
    background-color: #fff;
    border-right: 1px solid #e4e7ec;

    display: flex;
    flex-direction: column;
  }

  &__logo {
    margin-bottom: 20px;
    padding-left: 12px;
  }

  &__nav {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #101828;

    display: flex;
    flex-direction: column;
    gap: 4px;

    flex-grow: 2;
  }

  &__nav-item {}

  &__nav-item.--settings {
    margin-top: auto;
    padding-top: 24px;
    border-top: 1px solid #E4E7EC;

    &::before {
      content: "";
      width: 100%;
      height: 24px;
    }
  }

  &__nav-item.--with-accordion>.left-panel__nav-title.--with-chevron::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-left: auto;

    background-image: url("/images/platform-chevron-up.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    transform: rotate(180deg);
  }

  &__nav-item.--with-accordion.open .left-panel__nav-title.--with-chevron::after {
    transform: rotate(0deg);
  }

  &__nav-item.--with-accordion.open .left-panel__nav-accordion {
    grid-template-rows: 1fr;
    margin-top: 4px;
  }

  &__nav-title {
    display: flex;
    align-items: center;
    gap: 16px;

    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
  }

  &__nav-title:hover {
    background-color: #f9fafb;
  }

  &__nav-title.selected {
    background-color: #f9fafb;
  }

  &__nav-accordion {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.5s;
  }
}