$forDesktop : 1740px;
$forTablet : 1260px;
$forMobile : 768px;
$minimum : 400px;

@import "./partials/nullstyle";
@import "./partials/basics";
@import "./partials/breadcrumbs";

@import "./partials/course";
@import "./partials/course-basics";
@import "./partials/course-label";
@import "./partials/course-overall";
@import "./partials/course-text";
@import "./partials/course-materials";
@import "./partials/course-accordion";

@import "./partials/lesson";
@import "./partials/lesson-test";

@import "./partials/courses";
@import "./partials/courses-arrangers";
@import "./partials/courses-item";
@import "./partials/courses-not-found";

@import "./partials/left-panel";
@import "./partials/platform-header";
@import "./partials/platform-basic";
@import "./partials/platform-overview";
@import "./partials/platform-personal";
@import "./partials/platform-tasks";
@import "./partials/platform-calendar";

// -----------------------